<a href="https://colab.research.google.com/github/uthours/Data-Processing-Visualization/blob/main/quiz16.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Data visualization
# Uttam Subedi

In [9]:
import pandas as pd

df = pd.read_csv('https://raw.githubusercontent.com/nurfnick/Data_Viz/main/IOT-temp.csv')
df.head(10)

                                    id  room_id/id  ... temp  out/in
0  __export__.temp_log_196134_bd201015  Room Admin  ...   29      In
1  __export__.temp_log_196131_7bca51bc  Room Admin  ...   29      In
2  __export__.temp_log_196127_522915e3  Room Admin  ...   41     Out
3  __export__.temp_log_196128_be0919cf  Room Admin  ...   41     Out
4  __export__.temp_log_196126_d30b72fb  Room Admin  ...   31      In
5  __export__.temp_log_196125_b0fa0b41  Room Admin  ...   31      In
6  __export__.temp_log_196121_01544d45  Room Admin  ...   29      In
7  __export__.temp_log_196122_f8b80a9f  Room Admin  ...   29      In
8  __export__.temp_log_196111_6b7a0848  Room Admin  ...   29      In
9  __export__.temp_log_196112_e134aebd  Room Admin  ...   29      In

[10 rows x 5 columns]

1. Convert the noted_date into DateTime, it is in day-month-Year Hour:Minute format.

In [10]:
pd.to_datetime(df.noted_date,format='%d-%m-%Y %H:%M')

0       2018-12-08 09:30:00
1       2018-12-08 09:30:00
2       2018-12-08 09:29:00
3       2018-12-08 09:29:00
4       2018-12-08 09:29:00
                ...
97601   2018-07-28 07:07:00
97602   2018-07-28 07:07:00
97603   2018-07-28 07:06:00
97604   2018-07-28 07:06:00
97605   2018-07-28 07:06:00
Name: noted_date, Length: 97606, dtype: datetime64[ns]

In [11]:
df = df.assign(date_time = pd.to_datetime(df.noted_date,format='%d-%m-%Y %H:%M'))
df

                                        id  ...           date_time
0      __export__.temp_log_196134_bd201015  ... 2018-12-08 09:30:00
1      __export__.temp_log_196131_7bca51bc  ... 2018-12-08 09:30:00
2      __export__.temp_log_196127_522915e3  ... 2018-12-08 09:29:00
3      __export__.temp_log_196128_be0919cf  ... 2018-12-08 09:29:00
4      __export__.temp_log_196126_d30b72fb  ... 2018-12-08 09:29:00
...                                    ...  ...                 ...
97601   __export__.temp_log_91076_7fbd08ca  ... 2018-07-28 07:07:00
97602  __export__.temp_log_147733_62c03f31  ... 2018-07-28 07:07:00
97603  __export__.temp_log_100386_84093a68  ... 2018-07-28 07:06:00
97604  __export__.temp_log_123297_4d8e690b  ... 2018-07-28 07:06:00
97605  __export__.temp_log_133741_32958703  ... 2018-07-28 07:06:00

[97606 rows x 6 columns]

# 2. What is the minimum and maximum date and time?

In [12]:
print('maximum date and time: ' + str(max(df.date_time)))

print('\nminimum date and time: ' + str(min(df.date_time)))

maximum date and time: 2018-12-08 09:30:00

minimum date and time: 2018-07-28 07:06:00

#3. What is the largest interval inbetween temperature checks?

In [13]:
df['date_time'].max() - df['date_time'].min()

Timedelta('133 days 02:24:00')

#4. What is the average datetime?

In [14]:
df.date_time.mean()

Timestamp('2018-10-07 05:10:38.821178880')