<a href="https://colab.research.google.com/github/uthours/Data-Processing-Visualization/blob/main/uttamDPVquiz13.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Data Processing Visualization 

# Dr. Jacob, ECU

# Uttam Subedi

In [23]:
import pandas as pa

data = pa.read_csv('https://raw.githubusercontent.com/nurfnick/Data_Viz/main/bank.csv')

data.head()

   age          job  marital  education  ... pdays  previous poutcome   y
0   30   unemployed  married    primary  ...    -1         0  unknown  no
1   33     services  married  secondary  ...   339         4  failure  no
2   35   management   single   tertiary  ...   330         1  failure  no
3   30   management  married   tertiary  ...    -1         0  unknown  no
4   59  blue-collar  married  secondary  ...    -1         0  unknown  no

[5 rows x 17 columns]

# 1. What is the data type of the first column? Should you change it or is that the best data type.
Ans: The data type of the first column is interger. No, because we do not express age in decimal so it does not need to change.

#2. The second column is job could you assign an order to this string? Could you assign an order the the fourth column education. If yes, what order would you assign? Do so.

Ans: No, the second column cannot be assigned in an order. Yes, we can assign fourth column education in an order. The second column value is not ordinal value but fourth coulmn has an ordinal value.

#3. Could any of the columns have been a boolean? Find one and create a new column in the dataframe that is just boolean and has a descriptive name.
Ans: Yes, there are three boolean column ie: housing, loan and y.

In [24]:
import numpy as np

I am testing the people who have age above 30 in the column( Above 30)

In [25]:
data['Above 30'] = np.where(data['age'] >= 30, True, False)
# display the dataframe
print(data)

      age            job  marital  education  ... previous  poutcome   y Above 30
0      30     unemployed  married    primary  ...        0   unknown  no     True
1      33       services  married  secondary  ...        4   failure  no     True
2      35     management   single   tertiary  ...        1   failure  no     True
3      30     management  married   tertiary  ...        0   unknown  no     True
4      59    blue-collar  married  secondary  ...        0   unknown  no     True
...   ...            ...      ...        ...  ...      ...       ...  ..      ...
4516   33       services  married  secondary  ...        0   unknown  no     True
4517   57  self-employed  married   tertiary  ...        0   unknown  no     True
4518   57     technician  married  secondary  ...        0   unknown  no     True
4519   28    blue-collar  married  secondary  ...        3     other  no    False
4520   44   entrepreneur   single   tertiary  ...        7     other  no     True

[4521 rows x 18 columns]

#4. Name one more interesting fact about this dataset and the datatypes.
Ans: One of the intresting fact about the dataset is we could use visiulizatioon and have a better understanding.