<a href="https://colab.research.google.com/github/uthours/Data-Processing-Visualization/blob/main/uttamDPVquiz6.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## SQL Queries
# Dr. Jacob Data Processing Visualization 
# Uttam Subedi

First thing first, let's import the libraries

In [1]:
from google.colab import auth
auth.authenticate_user()
print('Authenticated')

Authenticated

In this quiz, I will calculate the average trip on Austin bike share grouping by property_type column from the bikeshare_stations table starting from parkland to sidewalks To answer this question you must join the bikeshare_trips and bikeshare_stations on the start_station_name and the name from their respective tables.

In [4]:
%%bigquery --project fabled-progress-338823

WITH tbl as(
SELECT name, property_type
FROM `bigquery-public-data.austin_bikeshare.bikeshare_stations`
)
SELECT tbl.property_type as stating_startion_type, 
    AVG (trips.duration_minutes) as average_min,
    COUNT(*) as number_of_trips,
FROM `bigquery-public-data.austin_bikeshare.bikeshare_trips` as trips
  JOIN tbl
  ON trips.start_station_name = tbl.name

GROUP BY tbl.property_type
ORDER by average_min

  stating_startion_type  average_min  number_of_trips
0  undetermined_parking    23.098028           225333
1                  None    25.697646            68046
2          paid_parking    25.852535           280405
3              sidewalk    29.263569           432392
4                          33.502832            19776
5              parkland    39.375957           141806
6    nonmetered_parking    49.046326            11052