<a href="https://colab.research.google.com/github/uthours/Data-Processing-Visualization/blob/main/Uttam_Exam2_CPSMA.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Uttam Subedi
# Data Processing Visualization, Dr. Jacob, ECU
# Exam 2

Let's import the required libraries

In [31]:
import pandas as pd
import re
import numpy as np

Refrences: 

https://pandas.pydata.org/docs/reference/api/pandas.DataFrame.fillna.html

https://github.com/nurfnick/Data_Viz

https://github.com/uthours

#1. Gather the data from a fitbit provided on Kaggle and provided in the github repo for this course. The link is provided
here https://raw.githubusercontent.com/nurfnick/Data Viz/main/Activity Dataset V1.csv. I have used ‘quotes’ when
discussing a column in the dataset.

(a) (10 points) Store the data as a pandas dataframe. Examine each datatype and comment on the appropriateness of
each.

In [32]:
df = pd.read_csv('https://raw.githubusercontent.com/nurfnick/Data_Viz/main/Activity_Dataset_V1.csv')
df.head()

,Unnamed: 0,activity_day,workout_type,distance,time,calories,total_steps,avg_speed,avg_cadence,max_cadence,...,max_pace,min_pace,avg_heart_rate,max_heart_rate,min_heart_rate,vo2_max(%),aerobic(%),anaerobic(%),intensive(%),light(%)
0,0,2022-01-01,Freestyle,9.30,77,123,NaN,18.88,168.54,138.30,...,NaN,NaN,112.5,122.0,103,19,28,2,7,50
1,1,2022-01-01,Freestyle,3.44,96,55,NaN,29.65,125.92,292.81,...,NaN,NaN,111.0,122.0,100,42,28,2,29,88
2,2,2022-01-01,Indoor Cycling,6.34,85,33,NaN,17.85,81.93,323.69,...,NaN,NaN,95.0,90.0,100,1,32,0,22,43
3,3,2022-01-01,Walking,7.91,42,82,1571.0,22.10,29.63,180.16,...,28:58,07:58,83.0,85.0,81,3,22,0,24,65
4,4,2022-01-01,Open Water,8.99,36,131,NaN,25.83,64.55,342.89,...,NaN,NaN,138.0,166.0,110,7,0,5,21,88

In [33]:
df.dtypes #Examine datatype

Unnamed: 0          int64
activity_day       object
workout_type       object
distance          float64
time                int64
calories            int64
total_steps       float64
avg_speed         float64
avg_cadence       float64
max_cadence       float64
avg_pace           object
max_pace           object
min_pace           object
avg_heart_rate    float64
max_heart_rate    float64
min_heart_rate      int64
vo2_max(%)          int64
aerobic(%)          int64
anaerobic(%)        int64
intensive(%)        int64
light(%)            int64
dtype: object

#(b) (10 points) Remove the column that repeats the indexes and is ‘unnamed’ as a column

I am going to use a drop function from pandas libarary to remove unnamed column

In [34]:
df = df.drop(columns=['Unnamed: 0'])
df.head()

,activity_day,workout_type,distance,time,calories,total_steps,avg_speed,avg_cadence,max_cadence,avg_pace,max_pace,min_pace,avg_heart_rate,max_heart_rate,min_heart_rate,vo2_max(%),aerobic(%),anaerobic(%),intensive(%),light(%)
0,2022-01-01,Freestyle,9.30,77,123,NaN,18.88,168.54,138.30,NaN,NaN,NaN,112.5,122.0,103,19,28,2,7,50
1,2022-01-01,Freestyle,3.44,96,55,NaN,29.65,125.92,292.81,NaN,NaN,NaN,111.0,122.0,100,42,28,2,29,88
2,2022-01-01,Indoor Cycling,6.34,85,33,NaN,17.85,81.93,323.69,NaN,NaN,NaN,95.0,90.0,100,1,32,0,22,43
3,2022-01-01,Walking,7.91,42,82,1571.0,22.10,29.63,180.16,07:58,28:58,07:58,83.0,85.0,81,3,22,0,24,65
4,2022-01-01,Open Water,8.99,36,131,NaN,25.83,64.55,342.89,NaN,NaN,NaN,138.0,166.0,110,7,0,5,21,88

# (c) (10 points) Clean the column names to remove the unit declaration, (%), using regular expressions. The column name should not have any trailing spaces after cleaning. You will only receive partial credit for simply renaming columns without using regular expressions.


 I am going to use lambda and regular expression to remove unit declaration and rename the column names.

In [35]:
df = df.rename(columns = lambda x: re.sub(r'((.%))' ,'' ,x))
df.columns

Index(['activity_day', 'workout_type', 'distance', 'time', 'calories',
       'total_steps', 'avg_speed', 'avg_cadence', 'max_cadence', 'avg_pace',
       'max_pace', 'min_pace', 'avg_heart_rate', 'max_heart_rate',
       'min_heart_rate', 'vo2_max)', 'aerobic)', 'anaerobic)', 'intensive)',
       'light)'],
      dtype='object')

#(d) (10 points) Convert ‘activity day’ column into a datetime format.

In [36]:
df.activity_day.dtypes

dtype('O')

In [37]:
df['activity_day'] = pd.to_datetime(df['activity_day']) # changing into datetime format
df.activity_day.dtypes

dtype('<M8[ns]')

#(e) (10 points) Impute ‘total steps’ by replacing the ‘NaN’s with an appropriate number of steps. Convert to appropriate datatype.

I need to impute by replacing NaNs with appropriate number of steps. I am going to use fillna function to achieve this goal.

In [38]:
df['total_steps'].dtype

dtype('float64')

In [39]:
df['total_steps'].fillna(value=df['total_steps'].min(0), inplace=True)
df.head()

,activity_day,workout_type,distance,time,calories,total_steps,avg_speed,avg_cadence,max_cadence,avg_pace,max_pace,min_pace,avg_heart_rate,max_heart_rate,min_heart_rate,vo2_max),aerobic),anaerobic),intensive),light)
0,2022-01-01,Freestyle,9.30,77,123,1571.0,18.88,168.54,138.30,NaN,NaN,NaN,112.5,122.0,103,19,28,2,7,50
1,2022-01-01,Freestyle,3.44,96,55,1571.0,29.65,125.92,292.81,NaN,NaN,NaN,111.0,122.0,100,42,28,2,29,88
2,2022-01-01,Indoor Cycling,6.34,85,33,1571.0,17.85,81.93,323.69,NaN,NaN,NaN,95.0,90.0,100,1,32,0,22,43
3,2022-01-01,Walking,7.91,42,82,1571.0,22.10,29.63,180.16,07:58,28:58,07:58,83.0,85.0,81,3,22,0,24,65
4,2022-01-01,Open Water,8.99,36,131,1571.0,25.83,64.55,342.89,NaN,NaN,NaN,138.0,166.0,110,7,0,5,21,88

#(f) (10 points) Convert non-empty ‘avg pace’ into a float that is still representative of the information contained in the column. Recall that there are 60 seconds in one minute so 3:30 is equivalent to 3.5 minutes.

In [40]:
df['avg_pace'].dtype

dtype('O')

In [41]:
df['avg_pace'] = pd.DatetimeIndex(df['avg_pace'])
df['avg_pace'] = df['avg_pace'].apply(lambda avg_pace: avg_pace.hour + (avg_pace.minute / 60))
df['avg_pace'].head(10)

0         NaN
1         NaN
2         NaN
3    7.966667
4         NaN
5         NaN
6         NaN
7    6.733333
8    6.800000
9         NaN
Name: avg_pace, dtype: float64

#(g) (10 points) Group data by ‘workout type’ and find the mean, median, count and standard deviation of ‘calories’.

I am using groupby function and pass workout_type column header to group dataframe data based on workout types.

In [42]:
df.groupby('workout_type').agg(['mean', 'median', 'count', 'std'])['calories']

                       mean  median  count         std
workout_type
Cricket          307.548387   330.0     93  149.950609
Freestyle        278.552083   294.0     96  163.703768
Indoor Cycling   280.450000   306.0     80  156.633322
Open Water       296.747253   328.0     91  160.068499
Outdoor Cycling  299.129412   301.0     85  158.731263
Outdoor Running  301.469136   349.0     81  165.725080
Pool Swimming    283.414894   300.0     94  157.576703
Trail Run        267.966667   264.0     90  155.748533
Treadmill        278.142857   269.5     98  146.963352
Trekking         283.127660   280.5     94  151.034870
Walking          276.040816   270.5     98  157.287570

#(h) (10 points) Create an indicator column that identifies if the activity achieved 30% or more ‘aerobic’ activity

#(i) (10 points) Which day of the week (Monday, Tuesday, etc.) and ‘workout type‘ has the maximum of the ‘max cadence’.

In [50]:
df1 = df.loc[df['max_cadence'] == df['max_cadence'].max()]
print('maximum_cadence = ' + str(df['max_cadence'].max()))
print('workout_type = ' + df1.workout_type.iloc[0])
print('day_of_week = ' + df1.activity_day.dt.day_name().iloc[0])

maximum_cadence = 349.78
workout_type = Pool Swimming
day_of_week = Wednesday

#2(10 points) Questions about the exam
(a) Approximately how long did you work on this exam?

= It took me around 3 to 4 hours to finish this assignment. 

(b) Which was the hardest and easiest topic from this section?

=  Q NO. (h) was a tricky question.

(c) Which method of cleaning data should I have spent more instructional time on? 

= Maybe numpy